App/_Release/*
App/AS_DEBUG/*
App/dll/*
App/engine/*
App/example/*
App/Screenshot/*
App/icon.icon
App/*.exe
App/Resource*
App/data/saves/*
.editorconfig
Mekanism.vcxproj.filters
Mekanism.vcxproj
Mekanism.vcxproj.user